.boton{
    /* background: linear-gradient(116.49deg,#0036df,#7000ff 66.15%,#e700b7); */
    border: none;
    color: rgb(85, 78, 78);
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 99;
    
}

.boton:hover{
    background-image: linear-gradient( 90deg ,#3ab564 0, #2d5ba8 25%, #61269e 50%, #f6303f 75%, #ffc525 100%, 
     #ffc525 100%, #f6303f 75%, #61269e 50%, #2d5ba8 25%, #3ab564 0);
   animation:slidebg 5s linear infinite;
   color: white;
}

@keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
  

  .boton.ng-touched{
    border: 1px solid #f1fd02;
}